.circle{

    width:160px;

    height:160px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    margin:25px auto;

}


.circle span{

    width:120px;

    height:120px;

    background:white;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:28px;

    font-weight:bold;

}