.dashboard{

    min-height:100vh;

    display:flex;

    background:#faf7ff;

}



.sidebar{

    width:280px;

    background:#7c3aed;

    color:white;

    padding:30px;

    display:flex;

    flex-direction:column;

    gap:15px;

}



.sidebar h2{

    margin-bottom:30px;

}



.sidebar button{

    padding:15px;

    border:none;

    border-radius:15px;

    background:white;

    color:#7c3aed;

    cursor:pointer;

    font-size:16px;

}



.dashboard-content{

    flex:1;

    padding:40px;

}



.welcome-card{

    background:white;

    padding:40px;

    border-radius:30px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}



.dashboard-cards{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

    margin-top:30px;

}



.dashboard-cards div{

    background:white;

    padding:30px;

    border-radius:25px;

}

.user-mini-profile{

    text-align:center;

    margin-bottom:25px;

}


.user-mini-profile img{

    width:80px;

    height:80px;

    border-radius:50%;

    object-fit:cover;

    border:3px solid #7c3aed;

}


.user-mini-profile h3{

    color:white;

    margin-top:10px;

}