.profile-page{

padding:40px;

}



.profile-card{

background:white;

padding:40px;

border-radius:35px;

text-align:center;

}



.profile-card>img{

width:150px;

height:150px;

border-radius:50%;

}



.avatar-options{

display:flex;

justify-content:center;

gap:20px;

margin-top:30px;

}



.avatar-options img{

width:60px;

height:60px;

border-radius:50%;

cursor:pointer;

}



.profile-stats{

display:flex;

gap:30px;

margin-top:40px;

}



.profile-stats div{

background:white;

padding:30px;

border-radius:25px;

text-align:center;

flex:1;

}



.logout{

margin-top:30px;

background:#7c3aed;

color:white;

border:none;

padding:15px 40px;

border-radius:25px;

}