.scheduling-page{

  position:relative;

    min-height:100vh;

    padding:40px;

    overflow:hidden;

}

.scheduling-page h1{

    color:#7c3aed;

    margin-bottom:30px;

}

.schedule-list{

    margin-top:40px;

}

.schedule-info{

    background:#f8f2ff;

    border-left:5px solid #7c3aed;

    padding:15px;

    border-radius:15px;

    margin-bottom:20px;

}

.scheduling-page::before{

    content:"";

    position:absolute;

    inset:0;

    background-image:url("../assets/images/mothers/schedule-bg.jpg");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    filter:blur(8px);

    transform:scale(1.08);

    z-index:-2;

}
.scheduling-content{

    position:relative;

    z-index:1;

}
.schedule-card{

    background:rgba(255,255,255,.75);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.4);

}
.scheduling-page::after{

    content:"";

    position:absolute;

    inset:0;

    background:rgba(255,255,255,.35);

    z-index:-1;

}